{% extends "base" %}
{% load thumbnails %}
{% block centercontent %}
<h1>Tags:</h1>
<h3>
{% for g in gals %}
<a href="/births/galls/{{ g.id }}/">
{{ g.name }}
</a>
{% endfor %}
</h3>
{% if list %}

{% for p in list %}
 <table align='center'>
<tr >
<th align='center'> 
{{ p.title }}
</th>
</tr>
<tr>
<td align='center'>

<img src = "{{ p.get_photo_url }}" width = 75%/>

</td>
</tr>
<tr><td align="center">
{{ p.date|date:"d-m-Y" }}
</td></tr>
<tr><td width="75%">
{{ p.blurb }}
</td></tr>
<tr><td align="center">
<h3>Tags: </h3>
 {% for m in p.get_tag_list %}
    {{ m }},
    {% endfor %}
</td></tr>
</table>

  {% endfor %}
{% else %}
    <p> photos not found</p>
{% endif %}
{% endblock %}